html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.content {
    margin: 0 auto;
    width: 80%;
}

h1 {
    color: white;
}

.heading {
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.result, .footer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #282A3A;
    padding: 10px;
}

.result-text {
    padding: 10px 0 20px 0;
}

.result-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 20px 0;
}



.display-choice {
    display: flex;
    gap: 100px;
    margin: 10px 0 20px 0;
    align-items: center;
    justify-content: center;
    
}


.choosed {
    display: flex;
    width: 200px;
    height: 200px;
    background: #474E68;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
}

.selected {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.wins {
    display: flex;
    gap: 10px;
    padding: 10px 0 0 0;

}



.cr-1, .cr-2, .cr-3, .pr-1, .pr-2, .pr-3{
    width: 15px;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;

}

.rounds-win {
    background-color: rgb(10, 255, 2);
}

.rounds-lose {
    background-color: rgb(255, 0, 0);
}

.active-win {
    border: 3px solid rgba(8, 250, 0, 0.24);
    box-shadow: 0 12px 16px 0 rgba(8, 250, 0, 0.24), 0 17px 50px 0 rgba(8, 250, 0, 0.19);
}

.active-lose {
    border: 3px solid rgba(255, 0, 0, 0.24);
    box-shadow: 0 12px 16px 0 rgba(255, 0, 0, 0.24), 0 17px 50px 0 rgba(255, 0, 0, 0.19);
}

.display-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    
}

.choice {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: #282A3A;
    flex-direction: column;
}

.choice-container {
    display: flex;
}

.wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    flex-direction: column;
    max-width: 60%;

}

img {
    width: 100px;
    padding: 20px;
}

button {
    transition-duration: 0.4s;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: #474E68;
}

button:hover {
    background-color: #404258;
    color: #EEEEEE;
    box-shadow: 0 12px 16px 0 rgba(255, 254, 254, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

h4, h3, h2, p {
    display: flex;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;

}

h4 {
    padding: 20px 0 0 0;
}

.choice-text {
    margin: 0;
}


.score-container {
    display: flex;
    padding: 0;
    margin: 0;
    background: white;
    border-radius: 2px;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
}

.score {
    padding: 0;
    color: #404258;
    font-weight: 700;
    font: 2em sans-serif;
    
}
.round-number {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.selected {
    width: 150px;
    height: 150px;
}

.divider {
    width: 130px;
    height: 4px;
    border-radius: 2px;
    background-color: white;
}

.footer-text {
    padding: 10px 0 0 0;
}

/* popup */
.popup {
    display: none;
    position: fixed;
    border: 3px solid #f1f1f1;
}